.taskCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: solid lightgray 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 1rem;
  padding: 2rem;
}

.taskCard div {
  padding: 3px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

textarea {
  padding: 5px;
}

.taskContainer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tasksHeader {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid lightgray 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 5%;
  width: 40%;
  max-width: 600px;
}

.addContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid lightgray 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 5px;
  width: 40%;
  max-width: 600px;
}
button {
  border: none;
  padding: 10px 16px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.searchBtn {
  color: blue;
  border: solid 1px blue;
}

.deleteBtn {
  color: lightcoral;
  border: solid 1px lightcoral;
}

.addBtn {
  color: green;
  border: solid 1px green;
}

@media only screen and (max-width: 600px) {
  .searchContainer {
    width: 100%;
  }
  .addContainer {
    width: 100%;
  }
  .tasksHeader {
    padding: 0;
  }
}
